//= Mobile et tablet - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
.pre-header, .post-footer {

        .icons {
                color: $light-green;
                width: 40px;
                height: 40px;
                cursor: pointer;
        }
}

.main-div {
 
        .excerpt-and-goToTheProject {

                &__goToTheProject {
                        color: $light-green; /* This property just define the links underline color, not the links color !! */

                        .icon-github-mini, .icon-youtube-mini {
                                width: 25px;
                                height: 25px;
                        }
                }
        }
}

//= Destkop - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@media all and (min-width: ($tablet-max+1)) {
        .pre-header, .post-footer {

                .icons {
                        width: 50px;
                        height: 50px;
                }
        }
}

//= Destkop - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
@media all and (min-width: ($tablet-max+1)) {
        .pre-header, .post-footer {

                .icons {
                        width: 60px;
                        height: 60px;
                }
        }
}