.main-div {
 
        .excerpt-and-goToTheProject {

                &__goToTheProject {
                        color: $light-green;

                        .icon-github-mini, .icon-youtube-mini {
                                width: 25px;
                                height: 25px;
                        }
                }
        }
}