.main-div {

        .projects-div {
                z-index: 10;  // vis-à-vis de la parallax notamment

                background: $black;
                background: $gradient-black-dark-green-black;
                padding: 50px 0 15px;

                h2 {
                        text-align: center;
                }

                .all-projects {

                        display: flex;
                        flex-direction: column;
                        align-items: space-evenly;
                        justify-content: center;
                        margin: 15px;

                        //= Tablette et +
                        @media all and (min-width: ($mobile-max+1)) {
                                flex-direction: row;
                                justify-content: space-evenly;
                                align-items: center;
                        }

                        .one-project {
                                position: relative;
                                margin: 0px 5px 30px;
                                min-width: ($min-width - 10px);
                                border: solid 1px ;
                                border-radius: 6px;
                                // background: $black;
                                background: $gradient-black-dark-green-black;
                                box-shadow: 0px 2px 5px 0px rgba($white, 0.7);
        
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
        
                                padding: 3px;

                                .title-and-date {
                                        width: 100%;
                                        margin: 5px 0 20px;

                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                
                                        &__title {
                                                color: $light-green;
                                                font-size: 1.2em;
                                        }
                
                                        &__date {
                                                font-size: 0.7em;
                                        }
                                }
                
                                .img-and-tags {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;

                                        &__img {
                                                margin-bottom: 20px;
                                                width: 400px;
                                                height: 350px;

                                                .thumbnail {
                                                        border-radius: 8px;
                                                }
                                        }

                                        /*
                                        * &__projects-technos {
                                        *        Propriétés définies dans le fichier scss > components > _filters.scss
                                        }
                                        */

                                         //= Tablette et +
                                        @media all and (min-width: ($mobile-max+1)) {
                                                width: 100%;
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;
                                        }
                                }

                                .excerpt-and-github {
                                        width: 95%;
                                        margin: 15px 30px 10px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: flex-start;

                                        &__excerpt {
                                                /* Nothing special for now */
                                        }

                                        &__github {
                                                display: flex;
                                                flex-direction: row;

                                                .icon-github-mini {
                                                        /* CSS is defined in the Scss file 'components > _icons.scss' */
                                                }

                                                .link-github {
                                                        color: $light-green;
                                                        margin-left: 5px;
                                                        font-size: 0.85em;
                                                }
                                        }
                                }
                        }
                }
        }
}