.main-div {

        //= Mobile et tablet - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        .projects-div {
                z-index: 10;  // vis-à-vis de la parallax notamment

                background: $black;
                background: $gradient-black-dark-green-black;
                padding: 50px 0 15px;

                h2 {
                        text-align: center;
                }

                .all-projects {

                        display: flex;
                        flex-direction: column;
                        align-items: space-evenly;
                        justify-content: center;
                        margin: 15px;

                        .one-project {
                                position: relative;
                                margin: 0px 5px 30px;
                                min-width: ($min-width - 10px);
                                border: solid 1px ;
                                border-radius: 6px;
                                // background: $black;
                                background: $gradient-black-dark-green-black;
                                box-shadow: 0px 2px 5px 0px rgba($white, 0.7);
        
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
        
                                padding: 3px;

                                .link-project-card {
                                        text-decoration: none;
                                }

                                .title-and-date {
                                        width: 100%;
                                        margin: 5px 0 20px;

                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                
                                        &__title {
                                                color: $light-green;
                                                font-size: 1.2em;
                                        }
                
                                        &__date {
                                                font-size: 0.7em;
                                        }
                                }
                
                                .img-and-tags {
                                        width: 100%;
                                        display: flex;
                                        flex-direction: column;
                                        align-items: center;
                                        color: $black;

                                        &__img {
                                                margin-bottom: 20px;

                                                .thumbnail {
                                                        border-radius: 8px;
                                                        width: 400px;
                                                        height: 350px;  
                                                }
                                        }

                                        /*
                                        &__tags {

                                                &__technos + &__tools {
                                                *        Propriétés définies dans le fichier scss > components > _filters.scss
                                                }
                                                
                                        }
                                        */
                                }

                                .excerpt-and-goToTheProject {
                                        width: 95%;
                                        margin: 15px 30px 10px;
                                        display: flex;
                                        flex-direction: column;
                                        justify-content: center;
                                        align-items: flex-start;

                                        /*
                                        &__excerpt {
                                                Nothing special for now
                                        }
                                        */

                                        &__goToTheProject {
                                                
                                                .icon-and-goToTheProject {
                                                        display: flex;
                                                        flex-direction: row;
                                                        color: $light-green;  /* icons and links colored but not the links underline (in 'component > _icons.scss' */
                                                }

                                                /*
                                                * .icon-github-mini, .icon-youtube-mini {
                                                *         CSS is defined in the Scss file 'components > _icons.scss'
                                                }
                                                */

                                                .link {
                                                        color: $light-green;
                                                        margin-left: 5px;
                                                        font-size: 0.85em;
                                                }
                                        }
                                }
                        }
                }
        }

        //= Destkop et au-dessus - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        @media all and (min-width: ($tablet-max+1)) {
                .projects-div {

                        .all-projects {
                                flex-direction: row;
                                justify-content: space-evenly;
                                align-items: center;
                                flex-wrap: wrap;

                                .one-project {
                                        width: 80%; 

                                        .img-and-tags {
                                                width: 100%;
                                                display: flex;
                                                flex-direction: row;
                                                justify-content: space-between;

                                                &__img {

                                                        .thumbnail {
                                                                border-radius: 8px;
                                                                width: 400px;
                                                                height: 350px;  
                                                        }
                                                }

                                                &__tags {
                                                        width: 50%;
                                                        display: flex;
                                                        flex-direction: column;
                                                        align-items: center;

                                                        /* &__technos + &__tools {
                                                        *        Propriétés définies dans le fichier scss > components > _filters.scss
                                                        }
                                                        */
                                                }
                                        }
                                }
                        }
                }
        }
}