.main-div {

        .projects-div {

                .all-projects {

                        .one-project {

                                .horizontal-separator {
                                        width: 85%;
                                        height: 1px;
                                        background-color: $white;
                                        margin: 20px 0;
                                }
                        }
                }
        }
}
