@charset "UTF-8";
@import '../../../node_modules/reset.css/reset.css';
@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Wallpoet&display=swap");
.atropos {
  position: relative;
  display: block;
  perspective: 1200px;
  transform: translate3d(0, 0, 0);
}
.atropos-rotate-touch, .atropos-rotate-scroll-x, .atropos-rotate-scroll-y {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-touch-callout: none;
  user-select: none;
}
.atropos-rotate-touch-scroll-y {
  touch-action: pan-y;
}
.atropos-rotate-touch-scroll-x {
  touch-action: pan-x;
}
.atropos-rotate-touch {
  touch-action: none;
}

.atropos-scale,
.atropos-rotate {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition-property: transform;
  display: block;
}

.atropos-shadow,
.atropos-highlight {
  position: absolute;
  pointer-events: none;
  transition-property: transform, opacity;
  display: block;
  opacity: 0;
}

.atropos-shadow {
  z-index: -1;
  background: #000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  filter: blur(30px);
}

.atropos-highlight {
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-image: radial-gradient(circle at 50%, rgba(255, 255, 255, 0.25), transparent 50%);
  z-index: 0;
}

.atropos-rotate {
  position: relative;
}

.atropos-inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  transform-style: preserve-3d;
  transform: translate3d(0, 0, 0);
  display: block;
}

.atropos-active {
  z-index: 1;
}
.atropos-active .atropos-shadow {
  opacity: 1 !important;
}

[data-atropos-offset] {
  transition-property: transform;
}

[data-atropos-opacity] {
  transition-property: opacity;
}

[data-atropos-offset][data-atropos-opacity] {
  transition-property: transform, opacity;
}

@keyframes k2000Laser {
  from {
    margin-right: 100%;
  }
  to {
    margin-right: 0%;
  }
}
@keyframes rainbow {
  from {
    color: #1e7b1e;
  }
  20% {
    color: rgb(236, 245, 66);
    transform: rotate(25deg);
  }
  40% {
    color: rgb(250, 25, 25);
    transform: rotate(75deg);
  }
  60% {
    color: rgb(198, 12, 245);
    transform: rotate(100deg);
  }
  80% {
    color: rgb(12, 245, 175);
    transform: rotate(50deg);
  }
  to {
    color: #1e7b1e;
  }
}
body {
  margin: auto;
  min-width: 400px;
  font-family: Montserrat;
}
body h1, body h2, body h3 {
  font-family: "Wallpoet";
  text-transform: uppercase;
}
body h1 {
  font-size: 3em;
  color: black;
  letter-spacing: 0.015em;
  text-shadow: -3px 0px 3px #00ff00, 3px 0px 3px #00ff00;
}
body .global-div {
  position: absolute;
  top: 0;
}
body .important {
  color: #00ff00;
  font-weight: bold;
}
body .display-none {
  display: none;
}
body .bluring {
  filter: blur(1.5rem);
}
@media all and (min-width: 651px) {
  body h1 {
    font-size: 3.5em;
    letter-spacing: 0.25em;
  }
}
@media all and (min-width: 851px) {
  body h1 {
    font-size: 4em;
    letter-spacing: 0.4em;
  }
}
@media all and (min-width: 1101px) {
  body h1 {
    font-size: 4.5em;
    letter-spacing: 0.6em;
  }
}
@media all and (min-width: 1501px) {
  body h1 {
    font-size: 5em;
    letter-spacing: 0.8em;
  }
}

.pre-header {
  width: 100%;
  height: 60px;
  background: linear-gradient(to bottom, #000000 15%, #1e7b1e 50%, #000000 85%);
  position: fixed;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*
  .icons {
           CSS is defined in the Scss file 'components > _icons.scss'
  }
  */
}
@media all and (min-width: 851px) {
  .pre-header {
    height: 70px;
  }
}
@media all and (min-width: 851px) {
  .pre-header {
    height: 80px;
  }
}

.header-main {
  background-color: black;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  position: relative;
}
.header-main .ID {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
.header-main .ID__pic {
  width: 100%;
  height: auto;
  text-align: center;
  z-index: 5;
  position: relative;
  border-radius: 180px;
}
.header-main .ID__pic .effect-zone {
  z-index: 6;
  background-color: black;
  border-radius: 180px;
  width: 310px;
  height: 315px;
  position: absolute;
  top: 0;
}
.header-main .ID__name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 5;
  position: relative;
}
.header-main .ID__name .mask {
  z-index: 6;
  width: 385px;
  height: 80px;
  background-color: red;
  position: absolute;
  top: 0;
  left: -2.5px;
}
.header-main .ID__name .laser {
  z-index: 7;
  width: 385px;
  height: 3px;
  border-radius: 6px;
  background-color: #00ff00;
  box-shadow: 3px 0px 2px 2px rgba(0, 255, 0, 0.7), -3px 0px 2px 2px rgba(0, 255, 0, 0.7);
  position: abolute;
  top: 0;
  left: -2.5px;
}
.header-main .ID__name .go-down {
  transition-property: position;
  transition-duration: 3000;
  position: absolute;
  top: 83px;
}
.header-main .ID__name h2 {
  color: black;
  font-size: 2em;
  letter-spacing: 0.04em;
  text-shadow: -3px 0px 3px #00ff00, 3px 0px 3px #00ff00;
}
.header-main .k2000 {
  width: 100%;
  height: 10px;
  background-color: #00ff00;
  background: linear-gradient(to top, #00ff00 0%, #000000 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.header-main .k2000__mobile-element {
  width: 50px;
  height: 8.5px;
  background-color: red;
  animation: k2000Laser 2s linear;
}
@media all and (min-width: 651px) {
  .header-main .ID__name h2 {
    font-size: 2.5em;
    letter-spacing: 0.6em;
  }
}
@media all and (min-width: 851px) {
  .header-main .ID__name h2 {
    font-size: 3em;
    letter-spacing: 1em;
  }
}
@media all and (min-width: 1101px) {
  .header-main .ID__name h2 {
    font-size: 3.5em;
    letter-spacing: 1.25em;
  }
}
@media all and (min-width: 1501px) {
  .header-main .ID__name h2 {
    font-size: 4em;
    letter-spacing: 1.5em;
  }
}

footer {
  background-color: #000000;
  color: #fcfffd;
  font-size: 0.8em;
  line-height: 1.6em;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .id-and-copyright {
  text-align: center;
}

.post-footer {
  width: 100%;
  height: 60px;
  background: transparent;
  z-index: 10;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /*
  .icons {
           CSS is defined in the Scss file 'components > _icons.scss'
  }
  */
}
@media all and (min-width: 851px) {
  .post-footer {
    height: 70px;
  }
}
@media all and (min-width: 851px) {
  .post-footer {
    height: 80px;
  }
}

.main-div {
  position: relative;
  /*
  .all-logos {
          CSS défini dans le fichier 'scss > components > _parallax.scss'
  }
  */
}
.main-div h2 {
  margin-bottom: 30px;
  color: #00ff00;
  font-size: 2em;
  letter-spacing: 0.04em;
}
.main-div p {
  color: #fcfffd;
  line-height: 25px;
}
.main-div .NB {
  background-color: #000000;
}
.main-div .NB p {
  margin: 0 1.2rem;
  text-align: justify;
  font-size: 0.6em;
  line-height: 1.25em;
}
@media all and (min-width: 651px) {
  .main-div h2 {
    font-size: 2.1em;
    letter-spacing: 0.065em;
  }
}
@media all and (min-width: 851px) {
  .main-div h2 {
    font-size: 2.4em;
    letter-spacing: 0.25em;
  }
}
@media all and (min-width: 1101px) {
  .main-div h2 {
    font-size: 2.6em;
    letter-spacing: 0.4em;
  }
}
@media all and (min-width: 1501px) {
  .main-div h2 {
    font-size: 3em;
    letter-spacing: 0.6em;
  }
}

.contact-popup {
  z-index: 11;
  position: fixed;
  width: 100%;
  height: auto;
  margin: auto;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fcfffd;
}
.contact-popup__cross-mark {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.contact-popup__cross-mark .icon-cross-mark {
  color: #1e7b1e;
  width: 1.2rem;
  height: 1.2rem;
  margin: 1.2rem 1.2rem 0 0;
}
.contact-popup__cross-mark .icon-cross-mark:hover {
  animation-name: rainbow;
  animation-duration: 1.5s;
  animation-timing-function: linear;
}
.contact-popup__info-phone, .contact-popup__info-mail {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.2rem;
}
.contact-popup .icon-contact {
  color: #1e7b1e;
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 1.2rem 0 1.2rem;
}
.contact-popup .infos-contact {
  font-size: 1.2rem;
}

@media all and (min-width: 651px) {
  .contact-popup__cross-mark .icon-cross-mark {
    margin-right: 1.8rem;
  }
  .contact-popup .icon-contact {
    margin-left: 2rem;
    margin-right: 2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
}
@media all and (min-width: 851px) {
  .contact-popup__cross-mark .icon-cross-mark {
    margin-right: 2.2rem;
    width: 1.5rem;
    height: 1.5rem;
  }
  .contact-popup .icon-contact {
    margin-left: 2.6rem;
    margin-right: 2.6rem;
    width: 2rem;
    height: 2rem;
  }
}
@media all and (min-width: 1101px) {
  .contact-popup__cross-mark .icon-cross-mark {
    margin-right: 2.8rem;
  }
  .contact-popup__info-phone, .contact-popup__info-mail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.2rem 0 1.2rem 0;
  }
  .contact-popup .icon-contact {
    margin: 0 0 1.2rem 0;
    width: 3rem;
    height: 3rem;
  }
}
.main-div .projects-categories {
  margin: 0 10px 40px;
}
.main-div .projects-categories ul {
  z-index: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.main-div .projects-categories ul .category {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0px 2px 5px 0px rgba(252, 255, 253, 0.7);
}
.main-div .projects-categories ul .category .mini-number {
  font-size: 0.8em;
}
.main-div .projects-categories ul .categoryNotSelected {
  background-color: rgba(0, 255, 0, 0.3);
  color: #fcfffd;
  border: solid 1px #fcfffd;
}
.main-div .projects-categories ul .categorySelected {
  background-color: rgba(0, 255, 0, 0.8);
  color: #000000;
  border: solid 1px #00ff00;
}
.main-div .projects-categories ul .categoryHovered {
  border: solid 1px #fcfffd;
  text-decoration: underline;
}
.main-div .info {
  display: block;
  width: 100%;
  color: #fcfffd;
  font-size: 0.6em;
  text-align: center;
  margin-top: 10px;
}

.main-div .img-and-tags__tags__technos {
  width: auto;
  margin: 15px 30px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main-div .img-and-tags__tags__technos .technos-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  line-height: 25px;
}
.main-div .img-and-tags__tags__technos .technos-container .techno {
  white-space: nowrap;
  border: #fcfffd solid 1px;
  background-color: rgba(252, 255, 253, 0.75);
  border-radius: 4px;
  padding: 0 10px;
  margin: 5px 5px;
  list-style-type: none;
}
@media all and (min-width: 1101px) {
  .main-div .img-and-tags__tags__technos .technos-container {
    width: 450px;
  }
}
@media all and (min-width: 2001px) {
  .main-div .img-and-tags__tags__technos {
    width: 100%;
  }
}

.main-div .img-and-tags__tags__tools {
  width: auto;
  margin: 15px 30px 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  line-height: 25px;
}
.main-div .img-and-tags__tags__tools .tools-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.main-div .img-and-tags__tags__tools .tools-container .tool {
  white-space: nowrap;
  border: #fcfffd solid 1px;
  background-color: rgba(252, 255, 253, 0.75);
  border-radius: 4px;
  padding: 0 10px;
  margin: 5px 5px;
  list-style-type: none;
}
@media all and (min-width: 1101px) {
  .main-div .img-and-tags__tags__tools {
    width: 450px;
  }
}
@media all and (min-width: 2001px) {
  .main-div .img-and-tags__tags__tools {
    width: 100%;
  }
}

.header-main .ID__pic .my-atropos {
  width: auto;
  height: auto;
}

.pre-header .icons, .post-footer .icons {
  color: #00ff00;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.main-div .excerpt-and-goToTheProject__goToTheProject {
  color: #00ff00; /* This property just define the links underline color, not the links color !! */
}
.main-div .excerpt-and-goToTheProject__goToTheProject .icon-github-mini, .main-div .excerpt-and-goToTheProject__goToTheProject .icon-youtube-mini {
  width: 25px;
  height: 25px;
}

@media all and (min-width: 851px) {
  .pre-header .icons, .post-footer .icons {
    width: 50px;
    height: 50px;
  }
}
@media all and (min-width: 851px) {
  .pre-header .icons, .post-footer .icons {
    width: 60px;
    height: 60px;
  }
}
.main-div .projects-div {
  z-index: 2;
  background: #000000;
  background: linear-gradient(to bottom, #000000 15%, #1e7b1e 50%, #000000 85%);
  padding: 50px 0 15px;
}
.main-div .projects-div h2 {
  text-align: center;
}
.main-div .projects-div .all-projects {
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  margin: 15px;
}
.main-div .projects-div .all-projects .one-project {
  position: relative;
  margin: 0px 5px 30px;
  min-width: 390px;
  border: solid 1px;
  border-radius: 6px;
  background: linear-gradient(to bottom, #000000 15%, #1e7b1e 50%, #000000 85%);
  box-shadow: 0px 2px 5px 0px rgba(252, 255, 253, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}
.main-div .projects-div .all-projects .one-project .link-project-card {
  text-decoration: none;
}
.main-div .projects-div .all-projects .one-project .title-and-date {
  width: 100%;
  margin: 5px 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-div .projects-div .all-projects .one-project .title-and-date__title {
  color: #00ff00;
  font-size: 1.6em;
}
.main-div .projects-div .all-projects .one-project .title-and-date__date {
  font-size: 0.7em;
}
.main-div .projects-div .all-projects .one-project .img-and-tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000000;
}
.main-div .projects-div .all-projects .one-project .img-and-tags__img {
  margin-bottom: 20px;
}
.main-div .projects-div .all-projects .one-project .img-and-tags__img .thumbnail {
  border-radius: 8px;
  width: 400px;
  height: 350px;
}
.main-div .projects-div .all-projects .one-project .img-and-tags__tags {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*
  &__technos + &__tools {
  *        Propriétés définies dans le fichier scss > components > _filters.scss
  }
  */
}
.main-div .projects-div .all-projects .one-project .excerpt-and-goToTheProject {
  width: auto;
  margin: 15px 30px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /*
  &__excerpt {
          Nothing special for now
  }
  */
}
.main-div .projects-div .all-projects .one-project .excerpt-and-goToTheProject__goToTheProject {
  /*
  * .icon-github-mini, .icon-youtube-mini {
  *         CSS is defined in the Scss file 'components > _icons.scss'
  }
  */
}
.main-div .projects-div .all-projects .one-project .excerpt-and-goToTheProject__goToTheProject .icon-and-goToTheProject {
  display: flex;
  flex-direction: row;
  color: #00ff00; /* icons and links colored but not the links underline (in 'component > _icons.scss' */
}
.main-div .projects-div .all-projects .one-project .excerpt-and-goToTheProject__goToTheProject .link {
  color: #00ff00;
  margin-left: 5px;
  font-size: 0.85em;
}
@media all and (min-width: 851px) {
  .main-div .projects-div .all-projects {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .main-div .projects-div .all-projects .one-project {
    width: 80%;
    padding: 15px;
  }
  .main-div .projects-div .all-projects .one-project .img-and-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-div .projects-div .all-projects .one-project .img-and-tags__tags {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* &__technos + &__tools {
    *        Propriétés définies dans le fichier scss > components > _filters.scss
    }
    */
  }
}
@media all and (min-width: 1101px) {
  .main-div .projects-div .all-projects {
    align-items: flex-start;
  }
  .main-div .projects-div .all-projects .one-project {
    width: 45%;
  }
  .main-div .projects-div .all-projects .one-project .img-and-tags {
    flex-direction: column;
    /*
    &__tags {

            &__technos + &__tools {
            *        Propriétés définies dans le fichier scss > components > _filters.scss
            }
    }
    */
  }
  .main-div .projects-div .all-projects .one-project .excerpt-and-goToTheProject {
    padding: 0 10px;
  }
}
@media all and (min-width: 1501px) {
  .main-div .projects-div .all-projects .one-project {
    width: 30%;
  }
}
@media all and (min-width: 2001px) {
  .main-div .projects-div .all-projects .one-project {
    width: 30%;
  }
  .main-div .projects-div .all-projects .one-project .link-project-card {
    width: 100%;
  }
  .main-div .projects-div .all-projects .one-project .link-project-card .img-and-tags {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .main-div .projects-div .all-projects .one-project .link-project-card .img-and-tags__img {
    width: 50%;
  }
  .main-div .projects-div .all-projects .one-project .link-project-card .img-and-tags__img .thumbnail {
    width: 100%;
    height: auto;
  }
  .main-div .projects-div .all-projects .one-project .link-project-card .img-and-tags__tags {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.main-div .skills-zone .parallax {
  width: 100%;
}
.main-div .skills-zone .parallax .all-logos .logos {
  width: 65px;
  height: 65px;
  opacity: 0.5;
}
.main-div .skills-zone .parallax .all-logos .logo__vue {
  width: 90px;
  height: 90px;
  position: absolute;
  top: 1%;
  left: 42%;
}
.main-div .skills-zone .parallax .all-logos .logo__html {
  position: absolute;
  top: 6%;
  left: 15%;
}
.main-div .skills-zone .parallax .all-logos .logo__css {
  position: absolute;
  top: 9%;
  right: 5%;
}
.main-div .skills-zone .parallax .all-logos .logo__sass {
  position: absolute;
  top: 14%;
  left: 35%;
}
.main-div .skills-zone .parallax .all-logos .logo__javascript {
  position: absolute;
  top: 13%;
  right: 35%;
}
.main-div .skills-zone .parallax .all-logos .logo__node {
  position: absolute;
  top: 22%;
  right: 20%;
  opacity: 0, 85;
}
.main-div .skills-zone .parallax .all-logos .logo__php {
  position: absolute;
  top: 17%;
  left: 20%;
}
.main-div .skills-zone .parallax .all-logos .logo__mysql {
  position: absolute;
  top: 20%;
  left: 5%;
  opacity: 0.9;
}
.main-div .skills-zone .parallax .all-logos .logo__wordpress {
  position: absolute;
  top: 25%;
  right: 15%;
  opacity: 1;
}
.main-div .skills-zone .parallax .all-logos .logo__github {
  position: absolute;
  top: 45%;
  right: 40%;
  opacity: 1;
}
@media all and (min-width: 651px) and (max-width: 850px) {
  .main-div .skills-zone .parallax {
    width: 100%;
  }
  .main-div .skills-zone .parallax .all-logos .logos {
    width: 80px;
    height: 80px;
  }
  .main-div .skills-zone .parallax .all-logos .logo__vue {
    width: 105px;
    height: 105px;
  }
}
@media all and (min-width: 851px) and (max-width: 1100px) {
  .main-div .skills-zone .parallax {
    width: 100%;
  }
  .main-div .skills-zone .parallax .all-logos .logos {
    width: 100px;
    height: 100px;
  }
  .main-div .skills-zone .parallax .all-logos .logo__vue {
    width: 125px;
    height: 125px;
  }
}
@media all and (min-width: 1101px) and (max-width: 1500px) {
  .main-div .skills-zone .parallax {
    width: 100%;
  }
  .main-div .skills-zone .parallax .all-logos .logos {
    width: 120px;
    height: 120px;
  }
  .main-div .skills-zone .parallax .all-logos .logo__vue {
    width: 145px;
    height: 145px;
  }
}
@media all and (min-width: 1501px) and (max-width: 2000px) {
  .main-div .skills-zone .parallax {
    width: 100%;
  }
  .main-div .skills-zone .parallax .all-logos .logos {
    width: 140px;
    height: 140px;
  }
  .main-div .skills-zone .parallax .all-logos .logo__vue {
    width: 165px;
    height: 165px;
  }
}
@media all and (min-width: 2001px) {
  .main-div .skills-zone .parallax {
    width: 100%;
  }
  .main-div .skills-zone .parallax .all-logos .logos {
    width: 160px;
    height: 160px;
  }
  .main-div .skills-zone .parallax .all-logos .logo__vue {
    width: 185px;
    height: 185px;
  }
}

.main-div .projects-div .all-projects .one-project .horizontal-separator {
  width: 85%;
  height: 1px;
  background-color: #fcfffd;
  margin: 20px 0;
}

.main-div .skills-zone .skills {
  padding: 50px 0 15px;
  background: #000000;
  background: linear-gradient(to bottom, #000000 15%, #1e7b1e 50%, #000000 85%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-div .skills-zone .skills .left, .main-div .skills-zone .skills .right {
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  margin-bottom: 30px;
}
@media all and (min-width: 651px) {
  .main-div .skills-zone .skills {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .main-div .skills-zone .skills .left {
    width: 50%;
  }
  .main-div .skills-zone .skills .right {
    width: 50%;
  }
}

/*# sourceMappingURL=main.css.map */
