.header-main {

        //= Mobile et Tablet - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
        background-color: black;
        min-height: 400px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;

        position: relative;

        .ID {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: 10px 0; 

                &__pic {
                        width: 100%;
                        height: auto;
                        text-align: center;
                        z-index: 5;
                        position: relative;
                        border-radius: 180px;

                        .effect-zone {
                                z-index: 6;
                                background-color: black;
                                border-radius: 180px;
                                width: 310px;
                                height: 315px;
                                position: absolute;
                                top: 0;
                        }
                }

                &__name {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        z-index: 5;
                        position: relative;

                        .mask {
                                z-index: 6;
                                width: 385px;
                                height: 80px;
                                background-color: red;
                                position: absolute;
                                top: 0;
                                left: -2.5px;
                        }

                        .laser {
                                z-index: 7;
                                width: 385px;
                                height: 3px;
                                border-radius: 6px;
                                background-color: $light-green;
                                box-shadow: 3px 0px 2px 2px rgba($light-green, 0.7),-3px 0px 2px 2px rgba($light-green, 0.7);
                                position: abolute;
                                top: 0;
                                left: -2.5px;
                        }

                        .go-down {
                                transition-property: position;
                                transition-duration: 3000;

                                position: absolute;
                                top: 83px;
                        }

                        h2 {
                                margin-top: 1em;
                                text-align: center;
                                color: black;
                                font-size: 1.7em;
                                letter-spacing: 0.4em;

                                // Ajout d'un text-shadow via une mixin
                                @include text-shadow-for-pulse-effect($light-green);
                        }
                }
        }

        .k2000 {
                width: 100%;
                height: 10px;
                background-color: $light-green;
                background: $gradient-black-down-to-light-green;
                
                display: flex;
                flex-direction: column;
                justify-content: flex-end;

                &__mobile-element {
                        width: 50px;
                        height: 8.5px;
                        background-color: red;
                        animation: k2000Laser 2s linear;
                }
        }

         //= Tablet - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($mobile-max+1)) {
                .ID {

                        &__name {

                                h2 {
                                        margin-top: 1.2em;
                                        font-size: 2em;
                                        letter-spacing: 0.6em;
                                }
                        }
                }
        }       

        //= Desktop - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($tablet-max+1)) {
                .ID {

                        &__name {

                                h2 {
                                        margin-top: 1.5em;
                                        font-size: 2.2em;
                                        letter-spacing: 0.8em;
                                }
                        }
                }
        }       

        //= Big - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($desktop-max+1)) {
                .ID {

                        &__name {

                                h2 {
                                        margin-top: 1.8em;
                                        font-size: 2.5em;
                                        letter-spacing: 0.9em;
                                }
                        }
                }
        }       

        //= Giant - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($big-max+1)) {
                .ID {

                        &__name {

                                h2 {
                                        margin-top: 2em;
                                        font-size: 2.8em;
                                        letter-spacing: 1em;
                                }
                        }
                }
        }       

}