.main-div {
        position: relative;

        /*
        .all-logos {
                CSS défini dans le fichier 'scss > components > _parallax.scss'
        }
        */

        //* D'abord les éléments généraux par balises
        h2 {
                margin-bottom: 30px;
                color: $light-green;
                font-size: 2em;
                letter-spacing: 0.04em;
        }

        p {
                color: $white;
                line-height: 25px;
        }

        //= Tablet - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($mobile-max+1)) {
                h2 {
                        font-size: 2.1em;
                        letter-spacing: 0.065em;
                }
        }       

        //= Desktop - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($tablet-max+1)) {
                h2 {
                        font-size: 2.4em;
                        letter-spacing: 0.25em;
                }
        }

        //= Big - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($desktop-max+1)) {
                h2 {
                        font-size: 2.6em;
                        letter-spacing: 0.4em;
                }
        }

        //= Giant - - - - - - - - - - - - - - - - - 
        @media all and (min-width: ($big-max+1)) {
                h2 {
                        font-size: 3em;
                        letter-spacing: 0.6em;
                }
        }     
}